<header class="header">
	<div class="header__inner">
		<div class="shell">
			<a href="#" class="logo">
				<img src="assets/images/logo-image@2x.png" alt="" />
			</a>
		</div><!-- /.shell -->
	</div><!-- /.header__inner -->

	<div class="header__nav">
		<a href="#" class="btn-menu-wrapper">
			<span class="btn-menu-text">Menu</span>

			<span class="btn-menu">
				<span></span>
			</span>
		</a>

		<div class="header__nav-inner">
			<nav class="nav">
				<ul>
					<li>
						<a href="#">Home</a>
					</li>

					<li>
						<a href="#">Solutions</a>
					</li>

					<li class="current-menu-item menu-item-has-children">
						<a href="#">
							<span>Products</span>

							<span class="nav__arrow">
								<i class="ico-arrow-orange"></i>
							</span>
						</a>

						<ul>
							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li class="menu-item-has-children">
								<a href="#">
									<span>Lorem ipsum</span>

									<span class="nav__arrow">
										<i class="ico-arrow-orange"></i>
									</span>
								</a>

								<ul>
									<li>
										<a href="#">Lorem ipsum</a>
									</li>

									<li>
										<a href="#">Lorem ipsum</a>
									</li>

									<li>
										<a href="#">Lorem ipsum</a>
									</li>

									<li>
										<a href="#">Lorem ipsum</a>
									</li>

									<li>
										<a href="#">Lorem ipsum</a>
									</li>

									<li>
										<a href="#">Lorem ipsum</a>
									</li>
								</ul>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children">
						<a href="#">
							<span>Services</span>

							<span class="nav__arrow">
								<i class="ico-arrow-orange"></i>
							</span>
						</a>

						<ul>
							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children">
						<a href="#">
							<span>About Us</span>

							<span class="nav__arrow">
								<i class="ico-arrow-orange"></i>
							</span>
						</a>

						<ul>
							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children">
						<a href="#">
							<span>Get in Touch</span>

							<span class="nav__arrow">
								<i class="ico-arrow-orange"></i>
							</span>
						</a>

						<ul>
							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>

							<li>
								<a href="#">Lorem ipsum</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav><!-- /.nav -->

			<div class="header__nav-actions">
				<a href="#" class="btn btn--fullwidth btn--white">Customer Login</a>
			</div><!-- /.header__nav-actions -->
		</div><!-- /.header__nav-inner -->
	</div><!-- /.header__nav -->
</header><!-- /.header -->
