/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 8px 20px;
	border: 3px solid $color-orange;
	border-radius: 6px;
	background: $color-white;
	max-width: 100%;
	line-height: 1;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	font-weight: 300;
	text-transform: lowercase;
	font-size: 14px;
	color: #eee;

	&--small {
		padding: 10px 13px;
		font-size: 13px;

	}

	&--xsmall {
		padding: 10px 3px;
		font-size: 9px;
		letter-spacing: -.03em;
	}

	&--block {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}

	&--fullwidth {
		width: 100%;
	}

	&--white {
		background: $color-white;
		border-color: $color-white;
		color: $color-dark-grey;
	}

	&--grey {
		border-color: $color-lighter-grey4;
		background: $color-lighter-grey4;
		color: #000;
	}

	&--bordered-grey {
		border-color: $color-lighter-grey;
	}

	&--bordered-orange {
		border-color: $color-orange;
		background: transparent;
		color: $color-white;
	}

	&--bordered-white {
		border-color: $color-white;
		background: transparent;
		color: $color-white;
	}

	&--grey {
		background: #efefef;
		border-color: #efefef;
	}

	&--orange {
		background: $color-orange;
		color: $color-white;
	}

	&-more {
		display: inline-block;
		vertical-align: middle;
		color: $color-orange;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
	}

	@media #{$tablet} {
		transition: $t-duration;

		&:hover {
			border-color: $color-orange2;
			background: $color-orange2;
			color: $color-black;
			text-decoration: none;
		}

		&--bordered-grey {
			border-color: $color-orange;

			&:hover {
				border-color: $color-orange2;
			}
		}

		&--bordered-white {
			&:hover {
				border-color: $color-white;
				background: $color-dark-grey;
				color: $color-orange;
			}
		}

		&-more {
			transition: $t-duration;

			&:hover {
				color: $color-dark-grey;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Btn Menu Wrapper
\* ------------------------------------------------------------ */

.btn-menu-wrapper {
	display: block;
	width: 145px;
	height: 55px;
	padding: 15px 25px;
	border-radius: 0 0 0 5px;
	background: $color-orange;
	font-size: 15px;
	color: $color-dark-grey;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	.btn-menu {
		float: right;
	}

	@media #{$tablet} {
		transition: background $t-duration;

		&:hover {
			background: $color-orange2;
		}
	}

	@media #{$mobile} {
		width: auto;
		height: 42px;
		padding: 5px 14px;

		.btn-menu-text {
			display: none;
		}
	}
}

/* ------------------------------------------------------------ *\
	Button Menu
\* ------------------------------------------------------------ */

.btn-menu {
	display: inline-block;
	vertical-align: middle;
	width: 33px;
	height: 32px;
	position: relative;

	& *,
	& *:before,
	& *:after {
		transition: background $t-duration, margin $t-duration, transform $t-duration;
	}

	& span,
	& span:before,
	& span:after {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -7px;
		height: 3px;
		background-color: $color-dark-grey;
	}

	& span:before {
		margin-top: -11px;
	}

	& span:after {
		margin-top: 7px;
	}

	&.active {
		& span {
			background-color: transparent;
		}

		& span:before,
		& span:after {
			margin-top: -1px;
		}

		& span:before {
			transform: rotate(45deg);
		}
		& span:after {
			transform: rotate(-45deg);
		}

	}

	@media #{$mobile} {
		width: 27px;
		height: 22px;

		& span,
		& span:before,
		& span:after {
			margin-top: 3px;
			height: 2px;
		}

		& span:before {
			margin-top: -8px;
		}

		& span:after {
			margin-top: 6px;
		}

		&.active {
			& span:before,
			& span:after {
				margin-top: 0;
			}
		}
	}
}
