/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {
	float: right;
	width: calc(100% - 225px);
	padding-left: 10px;

	@media #{$mobile} {
		float: none;
		width: 100%;
		padding: 20px 0;
	}
}
