/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	display: inline-block;
	max-width: 170px;

	@media #{$mobile} {
		max-width: 138px;
	}
}
